@charset "UTF-8";

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(100, 10, 10);
    display: inline-block;
    color: white;
}

div:hover {
    background-color: rgb(40, 214, 40);
}

a {
    color: white;
    text-decoration: none;
}

#dica {
    color: red;
}

#voltar {
    color: blue;
    font-weight: bold;
}

.seta {
    text-align: center;
    font-size: 2em;
}

#parabens {
    text-align: center;
    font-size: 4em;
}

#chegada {
    text-align: center;
    font-size: 2em;
}

#premio {
    background-color: rgb(209, 171, 2);
}

#voltarpremio {
    color: green;
}

strong {
    color: rgb(255, 51, 51);
}

p {
    font-family: Arial, Helvetica, sans-serif;
}